/* 

Author: Adnan Islamovic 

Contact: adnan.islamovic.te12c@gmail.com

Description: Documentation of your works is crucial. DOn't forget this.
This CDD-document was created with purpose of set a foundation for what you can 
do with the technology and is to considered as such.











*/

body {
background-color: #000000;
color: #00fe00;
}

#container {
border: 15px solid #00fe00;
}